version: "3.8"

services:
  sharenote-legacy-db:
    image: postgres:16-alpine
    container_name: sharenote-legacy-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgre_user
      POSTGRES_PASSWORD: postgre_password
      POSTGRES_DB: sharenote_legacy
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgre_user -d sharenote_legacy"]
      interval: 5s
      timeout: 5s
      retries: 5

  sharenote-shard1-db:
    image: postgres:16-alpine
    container_name: sharenote-shard1-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgre_user
      POSTGRES_PASSWORD: postgre_password
      POSTGRES_DB: sharenote_shard1
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgre_user -d sharenote_shard1"]
      interval: 5s
      timeout: 5s
      retries: 5

  sharenote-shard2-db:
    image: postgres:16-alpine
    container_name: sharenote-shard2-db
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgre_user
      POSTGRES_PASSWORD: postgre_password
      POSTGRES_DB: sharenote_shard2
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgre_user -d sharenote_shard2"]
      interval: 5s
      timeout: 5s
      retries: 5

  sharenote-redis:
    image: redis:6.2-alpine
    container_name: sharenote-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  redis_data: